body{
    font-family: 'Ranga', cursive, sans-serif;
    background-color: rgba(155, 10, 10, 0.519)
}
h1{
    font-size:4em;
    display: block;
    padding-left: 600px;
}
#title{
    margin: -5px 0;
}
.calendar{
    max-width: 1000px;
    width:90%;
    padding:1%;
    margin:auto;
    background-image:url(../img/background.jpg);
    background-size:cover;
}
.day{
    display: inline-block;
    vertical-align: middle;
    font:normal 2em 'Ranga',cursive, sans-serif;
    text-align: center;
    width: 3em;
    line-height: 3em;
    margin:10px;
    cursor:pointer;
    color:rgba(255,255,255, .9);
    background:rgba(0,0,0,.2);
    border:3px solid rgba(0,0,0,.1);
    border-radius: 5px;
    transition: 0.5s;
}
.special{
    width: 3em;
    line-height: 3em;
    font-size: 2em;
}
.very-special {
    border:3px solid rgba(255,185,45,.7);
}
.day:hover{
    color:rgba(20,20,20,1);
    background:rgba(255,255,255,0.8);
    border: 3px solid rgba(170,170,170,0.5);
    transform:scale(1.1);
    transition: all ease 500ms;
}
.very-special:hover{
    background:rgba(255,185,45,.7);
}
.day-container{
    text-align: center;
}
.modal{
    font-family: 'Ranga', cursive, sans-serif;
    max-width: 1000px;
    background:rgba(0,0,0,.0);
    color:rgb(255,255,255);
    border-radius:8px;
    box-shadow: none;
}
.day-content, .no-day-content{
    font-size:1.5em;
}
.day-content h1{
    font-size:2em;
}
#papanoel{
    position: absolute;
}
